<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="firstTestSuite" verbose="1" parallel="tests" thread-count="2" >

    <test name="GridTest">
        <classes>
            <class name="functional.GridExample" />
        </classes>
    </test>
<!---->
    <test name="ParallelTest">
        <classes>
            <class name="functional.ParallelGridTest" />
        </classes>
    </test>

    <!--Create test suite
    Create test case in this suite
    Create 3 testlink.steps in this test case
    :Create test suite
    Create test case
    Create 3 testlink.steps:-->



    <!--http://blog.wedoqa.com/2013/07/how-to-run-parallel-tests-with-selenium-webdriver-and-testng-2/-->
</suite>